/********* Font Optimization Code *********/

/* Nunito Sans Font */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

/* Roboto Font */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-007F;
  }
/********* END Font Optimization Code *********/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(-55.3 -31.6) rotate(-31.6 1409 581) scale(0.763)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='translate(-197.5 79) rotate(-15.8 800 450) scale(0.961)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(-55.3 118.5) rotate(-197.5 401 736) scale(0.961)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(474 47.4) rotate(-11.85 150 345) scale(1.079)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='translate(118.5 -237) rotate(-284.4 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-31.6 -31.6) rotate(-47.4 1400 132) scale(0.605)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: 900px 900px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
}

[class*="col-"] {
    margin: 0 4% 0 0;
}

.col-4-2 {
    flex: 0 0 78%;
    margin-left: 4%;
    flex-wrap: wrap;
}

.rel {
    position: relative;
}

.line-height {
    line-height: 1.5;
}

.ctaButton {
    will-change: transform, box-shadow;
	background-color:#292929;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;
    animation: pulse-black 3.5s infinite;
}
.ctaButton:hover {
	background-color: #333;
}
.ctaButton:active {
	position:relative;
	top:1px;
}

nav {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: grey;
    list-style-type: none;
    z-index: 2;

    .navbar {
        display: none;
    }

    .mobile-menu {

        a {
            display: block;
            padding: 14px 16px;
        }
    
        a:hover {
            background-color: #ddd;
        }
    
        .hideByDefault {
            display: none;
        }
        
        .hamburger {
            justify-content: flex-end;
            padding: 14px 0 14px 93%;
            color: grey;
        }
    
        .hamburger:hover {
            background-color: white;
        }
    }
}

#info {

    margin-top: 100px;
    font-weight: 800;
    background-color: white;

    a {
        color: white;
    }

    @keyframes pulse-black {
        0% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
        
        70% {
            transform: scale(0.95);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        
        100% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    

    .name {
        font-size: 40px;
        margin-bottom: 15px;

        .color {
            color: #16697a;
        }
    }

    .job {
        font-weight: 600;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 45px;

        .title {
            font-size: 25px;
            color: #db6400;
            font-weight: 800;
        }
    }

    flex-direction: column;
    align-items: center;

}

#about-section {
    position: relative;
    border: 2px solid #447bb2;
    border-radius: 25px;
    background-color: white;
    margin: 375px 7% 50px 7%;
    padding: 30px 35px 35px 35px;
    justify-content: center;
    flex-direction: column;
    
    h1 {
        font-size: 30px;
        align-self: center;
    }

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;

        span {
            font-weight: 500;
        }
    }
}

#about-section::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/web-development.svg");
    background-size: 100% 100%;
    opacity: 0.07;
}


#projects-section {
    position: relative;
    border-radius: 25px;
    border: 2px solid #ffa62b;
    background-color: white;
    margin: 150px 7% 200px 7%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 30px;
        margin-bottom: 90px;
    }

    h3 {
        font-weight: 400;
    }

    .single-project {
        padding: 30px 20px 40px 20px;
        margin-bottom: 40px;

        .tech-title {
            margin-top: 40px;
            margin-bottom: 0;
            font-weight: 500;
        }
    }

    .project-image {
        
        img {
            height: auto;
            width: 100%;
        }
    }

    .technologies {
        display: inline-block;
        margin-right: 20px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .project-image {
        border: 2px solid grey;
        border-radius: 5px;
    }

    .myButton {
        box-shadow:inset 0px 1px 0px 0px #9fb4f2;
        background-color:#7892c2;
        border-radius:6px;
        border:1px solid #4e6096;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
        font-family: 'Nunito Sans', sans-serif;
    }
    .myButton:hover {
        background-color:#476e9e;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }

    a:visited {
        color: white;
    }

    button:first-of-type {
        margin: 15px 10px 15px 0;
    }

    

   
    
}

#projects::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/project.svg");
    background-size: 100% 100%;
    opacity: 0.04;
}


#contact-section {

    .title {
        color: #061f24;
        margin-left: 7%;
        margin-right: 7%;
    }
}


@media only screen and (min-width: 768px) {

    nav {

        .items {
            margin-left: 22px;
            margin-right: 22px;
        }

        .items:hover {
            color: #333;
        }

        .navbar {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    
        .mobile-menu {
            display: none;
        }
    }
    
    .col-4-2 {
        flex: 0 0 44%;
        flex-wrap: nowrap;
    }


    .single-project {

        img {
            height: 225px;
            width: 631px;
            display: block;
        }

        .technologies {

            img {
                display: inline;
            }
        }
        
    }
}