/********* Font Optimization Code *********/

/* Nunito Sans Font */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9iB85tU1E.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

/* Roboto Font */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-007F;
  }
/********* END Font Optimization Code *********/

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
    // color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.flex-container {
    display: flex;
}

.myButton {
    will-change: transform, box-shadow;
	background-color:#292929;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    font-family: 'Nunito Sans', sans-serif;

    animation: pulse-black 3.5s infinite;
}
.myButton:hover {
	background-color: #333;
}
.myButton:active {
	position:relative;
	top:1px;
}

nav {

    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: grey;
    list-style-type: none;
    z-index: 2;

    .navbar {
        display: none;
    }

    .mobile-menu {

        a {
            display: block;
            padding: 14px 16px;
        }
    
        a:hover {
            background-color: #ddd;
        }
    
        .hideByDefault {
            display: none;
        }
        
        .hamburger {
            justify-content: flex-end;
            padding: 14px 0 14px 93%;
            color: grey;
        }
    
        .hamburger:hover {
            background-color: white;
        }
    }
}

#info {

    margin-top: 100px;
    font-weight: 800;

    a {
        color: white;
    }

    @keyframes pulse-black {
        0% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
        }
        
        70% {
            transform: scale(0.95);
            box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }
        
        100% {
            transform: scale(0.75);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
    }

    padding-top: 50px;
    font-family: 'Nunito Sans', sans-serif;
    

    .name {
        font-size: 40px;
        margin-bottom: 15px;

        .color {
            color: #16697a;
        }
    }

    .job {
        font-weight: 600;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 45px;

        .title {
            font-size: 25px;
            color: #db6400;
            font-weight: 800;
        }
    }

    flex-direction: column;
    align-items: center;
}






@media only screen and (min-width: 768px) {

    nav {

        .items {
            margin-left: 22px;
            margin-right: 22px;
        }

        .items:hover {
            color: #333;
        }

        .navbar {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
        }
    
        .mobile-menu {
            display: none;
        }
    }
    


}